
.row{width:100%;}
	
/********** desktop device********/
@media (min-width:992px){
	.col-lg-4{float:left;
	border:1px solid black;
	background-color: gray;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width:30%;}}

/**************tablet device********/
@media (min-width:768px)and (max-width:991px){.col-md-6{float:left ;
	border:1px solid black;
	background-color: gray;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
    width:47%;}

#suchi{width: 95.5%;
	margin-right: 20px;
	}}
/************mobile device***********/
@media (max-width:767px)

{.col-xs-12 {float:left;border:2px solid black;background-color: gray;margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;width:100%;}



}


body{margin:0;
padding:0;}

h1{text-align: center;}

h3 {text-align: center;
	float: right;
	width:100px;
	
	margin-top:0;
	margin-bottom:30px;
	padding:0;
border:1px solid black;}

#c {background-color:  rgb(201, 76, 76);color: black;}
#b {background-color:  rgba(201, 76, 76, 0.3);color: black;}
#s{background-color:  hsla(89, 43%, 51%, 0.3);color: white;}



#text{margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
}


